html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
*{
    margin: 0 0;
}
body {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0 0;
    justify-content: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #424242;
    font-size: 12pt;
    background-color:#ffffff;
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    min-width: 1200px;
    height: auto;
}
a.item {
    color: inherit; 
    text-decoration: inherit; /* no underline */
}
.title1 {
    font-size: 30pt;
    font-weight:600;
}
.white {
    color: white;
}
.titleMain {
    font-size: 40pt;
    font-weight:600;
}
.titleSecondary {
    font-size: 26pt;
}

header, footer { 
    height: 20vh;
}

.fas {
    padding-right: 10px;
}
.fa-facebook-square {
    color: #1287bf;
    font-size: 1.8em;
}
.fa-envelope {
    font-size: 1.4em;  
}
.fa-mobile-alt {
    font-size: 1.2em;
}
.fa-graduation-cap {
    color: #dd2a24;
    font-size: 3.2em;
}

.containerTop {
    /* width: 100%; */
    max-width: 1600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 12.5%;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color:#f0f2f4;
}

.containerTop a{
    padding: 5px 0;
    cursor: pointer;
    margin: 0 16px;
  }
.containerTop.item{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
}

.containerNav {
    max-width: 1600px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    max-height: 130px;
    /* justify-content: center; */
    flex-wrap: nowrap;
    align-items: center;
    background-color:inherit;
}
/* .item .nobull {
    list-style-type: none;
} */
#home {
    list-style-type: none;
}
.containerNav > a.item {
    margin: 0 1.1%;
    white-space: nowrap;
    font-weight:600;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
} 

.logo {
    margin: 0 12.5% 0 12.5%;
}
div > p.item {
    margin: 0 0;
}

.containerFirstLogo {
    margin-right:auto;
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: nowrap;
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;  
    font-stretch:normal;
    padding-right: 12.5%;
}

.containerFirstLogo > p.item {
    position: relative;
    margin: 0 0;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    background-color: #de2b24;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    border-radius: 6px;
    text-decoration: none;
    color: white !important;
}

main { 
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1200px;
    max-width: 1600px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
    height: -webkit-fill-available;
}

.bigImg {
    background: url("/images/Layer 32.jpg") no-repeat;
    background-position: center bottom;
    /* background-size: 100% auto; */
    background-size: cover;
    width: 100%;
    text-align: center;
    max-height: 777px;
    min-height: 50%;
    flex-grow:30;
    flex-shrink: 1;
}
/* classes for vertical center alignment */
.before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
.inner {
    display: inline-block;
    vertical-align: middle;
}
.yellowBtn {
    background-color:#f8cd53;
    font-size: 20pt;
    font-weight: 600;
    margin-top: 6%;
    padding:22px 45px;
}
.upperItem {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 2;
}

.aboutUs {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 1em;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-shrink: 2;
  }

/* .columnParent {
    display: flex;
    padding: 1em;
  } */
/* .columns {
    padding: 5%;
} */